.blockOneNews
{

    .mainPhoto
    {
        //width: 60%;
        height: 500px;
        background-size:contain;
        background-repeat:no-repeat; 
        margin-bottom: 1%;
       
    }
    .imgClass
    {
        height:100px;
    }
    .text
    {
        font-size: 20px;
    }
    .imgClass:hover
    {
        cursor: pointer;
    }
    a
    {
       background-color: rgb(109, 176, 227);
       text-decoration: none;
       padding: 1%;
       font-size: 20px;
       border-radius: 5px;
       color: black;
    }
}
