.TableOrders
{
    font-size: 25px;
    width: 100%;  
    text-align: center;
    th{
        border-width: 2px;
        //margin: 5%;
       // vertical-align: top;
        //:horizontal 
        // text-align: left;
      //  text-align: center;
    }

    td{
        border-width: 2px;
    }
}